@import "global";
@import "menu";
@import "lists";

@width-main-menu: 80px;

//Blocks
.block-form {
  background: #FCFCFC;
}

.block-form-logo {
  background: @primary-color;
  height: 100px;
}

//------
#header {
  background: rgba(255, 255, 255, .12);
  padding: .5rem 1.5rem;
  margin-bottom: .5rem;
}

#content {
  position: absolute;
  
  left: @width-main-menu;
  right: 0;
  top: 0;
  bottom: 0;
}

.mobile #content {
  left: 0;
}

//------ Toolbox
.toolbox {
  background: rgba(255, 255, 255, .6);
  display: table;
  padding: .3rem;
}

.toolbox > * {
  display: table-cell !important;
  vertical-align: middle;
  margin: 0 !important;
  padding: 0 .6rem;
  border-right: 1px solid rgba(0,0,0,.1);
}

.toolbox > a {
  padding: .5rem .6rem;
  transition:all .3s;
}
.toolbox > a:last-child {
  border:none;
}

.toolbox > a:hover {
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
	background: #FFF;

}
.toolbox > a:active {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
//--------------- End toolbox


.content-topbar
{
  margin: .4rem 1rem;
}

.content-topbar .icon-search {
  line-height: 20px;
  font-size: 15px;
  vertical-align: middle;
}

.hidden-input, .hidden-input:hover, .hidden-input:focus {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}
.content-topbar .hidden-input
{
  width: 350px;
}
//--------------------------- Global clases
.block-white {
  background: #FFF;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.icon16 {
  font-size: 16px;
}

.icon23 {
  font-size: 23px;
}

.icon32 {
  font-size: 32px;
}

.icon64 {
  font-size: 64px;
}

.content {
  padding: 1.5rem;
}

.inner-column {
  margin: 0 -0.9375rem;
}

.text-info {
  color: #bbbbbb;
  font-size: .9rem;
}

.progress .meter {
  -webkit-transition: width 1s ease-out;
  transition: width 1s ease-out;
  margin-bottom: 20px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);

}
.progress span{
  color: #ffffff;

}

.progress {
  background-color: #F6F6F6;
  border: 1px solid white;
  height: 1.5625rem;
  margin-bottom: 0.625rem;
  padding: 0.125rem;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.tabs-style-underline a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background: #2CC185;
  content: '';
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translate3d(0,150%,0);
  transform: translate3d(0,150%,0);
}

.tabs-style-underline a::after {
  //-webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

a:hover {
  color: #ff9835;
}

table {
  border-collapse: inherit;
  border-spacing: 0;
}

table tr th, table tr td {
  color: #222222;
  font-size: 0.875rem;
  padding: 0.5625rem 0.625rem;
  text-align: left;
  font-weight: normal;
}


ul.related_post li a {
  position: relative !important;
  display: block !important;
  font-size: 13px !important;
  line-height: 1.6em !important;
  text-decoration: none !important;
  text-indent: 0 !important;
  color:#ffffff;
}


ul.related_post li {
  position: relative !important;
  display: inline-block !important;
  vertical-align: top !important;
  zoom: 1 !important;
  width: 80px !important;
  margin: 10px 10px 10px 0px !important;
  padding: 0 !important;
  background: none !important;
}

ul.related_post li img {
  cursor:pointer;
  display: block !important;
  width: 80px !important;
  height: 80px !important;
  max-width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  background: none !important;
  border: none !important;
  border-radius: 3px !important;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) !important;
}

ul.related_post_gallery li a {
  position: relative !important;
  display: block !important;
  font-size: 13px !important;
  line-height: 1.6em !important;
  text-decoration: none !important;
  text-indent: 0 !important;
  color: #909090;
  text-align: center;
}

ul.related_post_gallery li {
  position: relative !important;
  display: inline-block !important;
  vertical-align: top !important;
  zoom: 1 !important;  
  margin: 10px 20px 10px 0px !important;
  padding: 0 !important;
  background: none !important;
}

ul.related_post_gallery li img {
  cursor: pointer;
  display: block !important;
  width: 80px !important;
  height: 80px !important;
  margin: 0 !important;
  padding: 0 !important;
  background: none !important;
  border: none !important;
  border-radius: 3px !important;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) !important;
}

.ajax-upload-dragdrop {
  margin-top: 5px;
  border: 2px dashed #DEDEDE;
  padding: 5px 15px;
  font-size: 20px;
}


ul.related_post_gallery li img:hover {
   box-shadow: 0 2px 8px #909090 !important;
   transition: .3s;

}






