//main menu
.mobile #main-menu
{
  display: none;
}
#main-menu
{
  width: @width-main-menu;
  overflow: auto;
  position: absolute;
  bottom: 0;
  top: 0;
}

#main-menu  *
{
  //outline: 1px solid rgba(0, 255, 0, .2);
}
#main-menu ul
{
  list-style: none;
  margin: 0 .7rem;
  padding: 0;  
  text-align: center;
}
#main-menu a
{
  font-family: @font-family-button;
  display: block;
  color:@font-color;
  padding: 5px 0;
  display: block;
  margin: .3rem;
  border-radius: 3px;
  transition: all .2s;
}
#main-menu a:hover .main-menu-icon, #main-menu a:focus  .main-menu-icon
{
  //background: @primary-color;
  //color:@primary-color-negative;
}
#main-menu a:hover .main-menu-icon, #main-menu a:focus  .main-menu-icon
{
  //background: @primary-color;
  //color:@primary-color-negative;
}
.main-menu-icon
{
  background: transparent;
  border-radius: 200px;
  line-height: 2.5rem !important;
  font-size: 1.7rem;
}

.no-margin
{
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}


.no-left-margin
{
  margin-left: 0px;
  padding-left: 0px;
}

.no-right-margin
{
  margin-right: 0px;
  padding-right: 0px;
}




